@tailwind base;
@tailwind utilities;

html, body {
    background: linear-gradient(135deg, #492cdd 0%, #AD38E2 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: transparent;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

div.footer-push {
    margin-top: -3rem;
}

.text-purple-theme {
    color: #AD38E2;
}

svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
}

.svg-inline--fa.fa-lg {
    vertical-align: -0.2em;
}

.fa-lg {
    font-size: 1.25em;
    line-height: 0.05em;
    vertical-align: -0.075em;
}

.svg-inline--fa {
    display: var(--fa-display, inline-block);
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
    filter: invert(1);
}